* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

:root {
  background-attachment: fixed;
  background-color: #1c1118;
  background-image: url("/images/bg.png");
  background-position: center;
  background-size: cover;
  color: #f0f0f0;
  color-scheme: dark;
}

@media (max-width: 520px) {
  .claim-card {
    grid-template-columns: 1fr !important;
  }

  .claim-card__image {
    grid-row: 2;
  }
}
